---
name: Run actionlint with reviewdog

on:
  pull_request:
    paths:
      - .github/workflows/*.ya?ml

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  id-token: write
  contents: read
  pull-requests: write

jobs:
  actionlint:
    name: Run actionlint with reviewdog
    runs-on: ubuntu-latest
    timeout-minutes: 8
    if: ${{ github.actor != 'renovate[bot]' }}
    steps:
      - name: Checkout
        timeout-minutes: 3
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          persist-credentials: false
      - name: Run actionlint with reviewdog
        timeout-minutes: 5
        uses: reviewdog/action-actionlint@f00ad0691526c10be4021a91b2510f0a769b14d0 # v1.68.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          reporter: github-pr-review
          fail_on_error: true
