---
name: Release Drafter

on:
  pull_request:
    types:
      - closed
    branches:
      - master

jobs:
  release:
    timeout-minutes: 3
    if: ${{ contains(github.event.pull_request.labels.*.name, 'release')  }}
    permissions:
      contents: write
      pull-requests: read
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
        with:
          fetch-depth: 0 # Changelog を正しく動作させるために必要
          persist-credentials: false
      - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version-file: go.mod
          cache: true
      - name: generate tag
        id: gen_tag
        run: |
          tag=$(TZ=Asia/Tokyo date +%Y%m%d%H%M%S)
          echo "tag: $tag"
          echo "tag=$tag" >> "$GITHUB_OUTPUT"
      - name: push tag
        run: |
          git tag ${{ steps.gen_tag.outputs.tag }}
          git push origin ${{ steps.gen_tag.outputs.tag }}
      - uses: goreleaser/goreleaser-action@e435ccd777264be153ace6237001ef4d979d3a7a # v6
        with:
          args: release  --clean
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
