---
name: ghalint

on: workflow_call

jobs:
  ghalint:
    # Validate GitHub Actions Workflows by ghalint.
    timeout-minutes: 3
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
      pull-requests: write
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
        with:
          persist-credentials: false
      - name: Setup aqua
        timeout-minutes: 5
        uses: aquaproj/aqua-installer@d1fe50798dbadd4eb5b98957290ca175f6b4870f # v4.0.2
        with:
          aqua_version: v2.53.10
      - name: GHALint
        run: ghalint run
        env:
          GHALINT_LOG_COLOR: always
