---
name: ghalint

on: workflow_call

jobs:
  ghalint:
    # Validate GitHub Actions Workflows by ghalint.
    timeout-minutes: 3
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
      pull-requests: write
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        with:
          persist-credentials: false
      - name: Setup aqua
        timeout-minutes: 5
        uses: aquaproj/aqua-installer@11dd79b4e498d471a9385aa9fb7f62bb5f52a73c # v4.0.4
        with:
          aqua_version: v2.56.6
      - name: GHALint
        run: ghalint run
        env:
          GHALINT_LOG_COLOR: always
