---
name: Run gitleaks

on: workflow_call

jobs:
  gitleaks:
    name: Run gitleaks
    runs-on: ubuntu-latest
    timeout-minutes: 13
    permissions:
      contents: read
      id-token: write
      pull-requests: write
    steps:
      - name: Checkout
        timeout-minutes: 3
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0
          persist-credentials: false
      - name: Setup aqua
        timeout-minutes: 5
        uses: aquaproj/aqua-installer@11dd79b4e498d471a9385aa9fb7f62bb5f52a73c # v4.0.4
        with:
          aqua_version: v2.56.4
      - name: Run gitleaks
        timeout-minutes: 5
        run: gitleaks detect -v
