---
name: Run markdownlint with reviewdog

on: workflow_call

jobs:
  markdownlint:
    name: Run markdownlint with reviewdog
    runs-on: ubuntu-latest
    timeout-minutes: 8
    permissions:
      contents: read
      id-token: write
      pull-requests: write
    steps:
      - name: Checkout
        timeout-minutes: 3
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false
      - name: Run markdownlint with reviewdog
        timeout-minutes: 5
        uses: fkohrt/action-markdownlint@981196421b42f419e5a1d6d13a1c876f75fbc522 # v0.2.1
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          reporter: github-pr-review
          fail_on_error: true
          markdownlint_flags: "-c markdownlint.config.js -i **/CHANGELOG.md -p **/.gitignore -- \"**/*.md\""
