---
name: Run taplo

on: workflow_call

jobs:
  taplo:
    name: Run taplo
    runs-on: ubuntu-latest
    timeout-minutes: 6
    permissions:
      contents: read
      id-token: write
      pull-requests: write
    steps:
      - name: Checkout
        timeout-minutes: 3
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false
      - name: Setup aqua
        timeout-minutes: 5
        uses: aquaproj/aqua-installer@d1fe50798dbadd4eb5b98957290ca175f6b4870f # v4.0.2
        with:
          aqua_version: v2.53.10
      - name: Run taplo
        timeout-minutes: 3
        run: taplo format --check
