---
name: Run typos

on: workflow_call

jobs:
  typos:
    name: Run typos
    runs-on: ubuntu-latest
    timeout-minutes: 8
    permissions:
      contents: read
      id-token: write
      pull-requests: write
    steps:
      - name: Checkout
        timeout-minutes: 3
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - name: Setup aqua
        timeout-minutes: 5
        uses: aquaproj/aqua-installer@11dd79b4e498d471a9385aa9fb7f62bb5f52a73c # v4.0.4
        with:
          aqua_version: v2.55.2
      - name: Run typos
        timeout-minutes: 3
        run: typos --config .typos.toml .
