---
name: Run taplo

on: workflow_call

jobs:
  taplo:
    name: Run taplo
    runs-on: ubuntu-latest
    timeout-minutes: 6
    permissions:
      contents: read
      id-token: write
      pull-requests: write
    steps:
      - name: Checkout
        timeout-minutes: 3
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false
      - name: Setup aqua
        timeout-minutes: 5
        uses: aquaproj/aqua-installer@11dd79b4e498d471a9385aa9fb7f62bb5f52a73c # v4.0.4
        with:
          aqua_version: v2.55.1
      - name: Run taplo
        timeout-minutes: 3
        run: taplo format --check
